<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<div ng-controller='CandidateAddEditController as ctrl'>
    <h1>Add/edit candidate : {{ctrl.nameInTitle}}</h1>
    <div class="row">
        <div class="col-md-4">
            <h3>General</h3><hr/>
            <div>
                First Name
                <input type="text" class="form-control" class="form-control" ng-model="ctrl.FirstName"/>
            </div>
            <div>
                Last Name
                <input type="text" class="form-control" ng-model="ctrl.LastName"/>
            </div>
            <div>
                Birth Date
                <input type="date" class="form-control" ng-model="ctrl.DateOfBirth"/>
            </div>
            <div>
                Location
                <input type="text" class="form-control" ng-model="ctrl.Location"/>
            </div>
            <div>
                Position
                <input type="text" class="form-control" ng-model="ctrl.Position"/>
            </div>
        </div>

        <div class="col-md-4">
            <h3>Contacts</h3><hr/>
            <div>
                Email
                <input type="text" class="form-control" ng-model="ctrl.Email"/>
            </div>
            <div>
                Skype
                <input type="text" class="form-control" ng-model="ctrl.Skype"/>
            </div>
            <div>
                LinkedIn
                <input type="text" class="form-control" ng-model="ctrl.LinkedIn"/>
            </div>
            <div>
                Phone
                <input type="text" class="form-control" ng-model="ctrl.Phone"/>
            </div>

        </div>
        <div class="col-md-4">
            <h3>Salary</h3><hr/>
            <input type="text" class="form-control" ng-model="ctrl.Salary"/>
            <button>View Resume</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Status</h3><hr/>
            <div>
                Shortlisted:<input type="checkbox" ng-model="ctrl.Shortlisted"/>
            </div>
            <div>
                Origin:<select class="form-control" ng-model="ctrl.selectedOrigin" ng-options="orgn.name for orgn in ctrl.origins">
                </select>
            </div>
            <div>
                Resolution:<select class="form-control" ng-model="ctrl.selectedResolution" ng-options="res.name for res in ctrl.resolutions">
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Photo</h3><hr/>
            <button>Upload Picture</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Pools</h3><hr/>
            <select multiple ng-model="ctrl.selectedPools" ng-options="pool.name for pool in ctrl.pools">
                <!-- <option>.Net</option>-->
                <!-- <option>QA</option>-->
                <!-- <option>PHP</option>-->
                <!-- <option>JS</option>-->
            </select>
        </div>
        <div class="col-md-4">
            <h3>Resume</h3><hr/>
            <button>Upload Resume</button>
        </div>
        <div class="col-md-4">
            <h3>Note</h3><hr/>
            <input type="text" class="form-control"/>
        </div>
    </div>
    <div class="button-done">
        <button class="btn-lg" ng-click="ctrl.addEditCandidate()">DONE</button>
    </div>
</div>
</body>
</html>
