<div class="container">
    <h3>Add / Edit candidate : {{candidateAddEditCtrl.nameInTitle}}</h3>
    <div class="row">
        <div class="col-md-4">
            <h3>General</h3><hr/>
            <div>
                <label>First Name</label>
                <input type="text" class="form-control" ng-model="candidateAddEditCtrl.FirstName"/>
            </div>
            <div>
                <label>Last Name</label>
                <input type="text" class="form-control" ng-model="candidateAddEditCtrl.LastName"/>
            </div>
            <div>
                <label>Birth Date</label>
                <input type="date" class="form-control" ng-model="candidateAddEditCtrl.DateOfBirth"/>
            </div>
            <div>
                <label>Location</label>
                <input type="text" class="form-control" ng-model="candidateAddEditCtrl.Location"/>
            </div>
            <div>
                <label>Position</label>
                <input type="text" class="form-control" ng-model="candidateAddEditCtrl.Position"/>
            </div>
        </div>

        <div class="col-md-4">
            <h3>Contacts</h3><hr/>
            <div>
                <label>Email</label>
                <input type="text" class="form-control" ng-model="candidateAddEditCtrl.Email"/>
            </div>
            <div>
                <label>Skype</label>
                <input type="text" class="form-control" ng-model="candidateAddEditCtrl.Skype"/>
            </div>
            <div>
                <label>LinkedIn</label>
                <input type="text" class="form-control" ng-model="candidateAddEditCtrl.LinkedIn"/>
            </div>
            <div>
                <label>Phone</label>
                <input type="text" class="form-control" ng-model="candidateAddEditCtrl.Phone"/>
            </div>

        </div>
        <div class="col-md-4">
            <h3>Salary</h3><hr/>
            <input type="text" class="form-control" ng-model="candidateAddEditCtrl.Salary"/>
            <button>View Resume</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Status</h3><hr/>
            <div>
                <label>Shortlisted: </label><input type="checkbox" ng-model="candidateAddEditCtrl.ShortListed"/>
            </div>
            <div>
                <label>Origin:</label><select class="form-control" ng-model="candidateAddEditCtrl.selectedOrigin" ng-options="orgn.name for orgn in candidateAddEditCtrl.origins">
                </select>
            </div>
            <div>
                <label>Resolution:</label><select class="form-control" ng-model="candidateAddEditCtrl.selectedResolution" ng-options="res.name for res in candidateAddEditCtrl.resolutions">
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Photo</h3><hr/>
            <img class="edit-page-photo" ng-if="!candidateAddEditCtrl.photoLoaded" ngf-src="candidateAddEditCtrl.picture"/>
            <img class="edit-page-photo" ng-if="candidateAddEditCtrl.photoLoaded" src="{{candidateAddEditCtrl.photoUrl}}"/>
            <button ngf-select ngf-multiple="false" ngf-change="candidateAddEditCtrl.previewSelected($file)">Upload Picture</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Pools</h3><hr/>
            <ul>
                <li ng-repeat="pool in candidateAddEditCtrl.pools">
                    <input type="checkbox" checklist-model="candidateAddEditCtrl.selectedPools" checklist-value="pool.name"> {{pool.name}}
                </li>
            </ul>
            <!--<select multiple ng-model="candidateAddEditCtrl.selectedPools" ng-options="pool.name for pool in candidateAddEditCtrl.pools">
            </select>-->
        </div>
        <div class="col-md-4">
            <h3>Resume</h3><hr/>
            <input name="file" type="file" ngf-select ngf-change="candidateAddEditCtrl.onFileSelect($file)">
        </div>
        <div class="col-md-4">
            <h3>Note</h3><hr/>
            <input type="text" class="form-control"/>
        </div>
    </div>
    <div class="button-done">
        <button class="btn btn-primary pull-right" ng-click="candidateAddEditCtrl.addEditCandidate()">DONE</button>
    </div>
</div>