<div ng-controller="CardHrInterviewController as hrInterviewCtrl">
    <div class="hrInterview_wrap">
        <div class="btn btn-default" ng-click="generalCardCtrl.changeTemplate(tab)">{{hrInterviewCtrl.vacancy.name}}</div>
        <!--<div class="btn btn-default" ng-click="generalCardCtrl.changeTemplate(tab)">All Feedbacks</div>
        <div class="btn btn-default" ng-click="generalCardCtrl.changeTemplate(tab)">My Feedbacks</div>-->
        <div class="hrInterview_comments">
            <div class="hrInterview_form" ng-repeat="feedback in hrInterviewCtrl.feedbacks">
                <form name="feedbackForm" ng-submit="hrInterviewCtrl.saveHrFeedback(feedback.id, feedback.cardId, feedback.type, feedback.text)">
                    <div>
                        <div>
                            <h3>{{generalCardCtrl.feedbackTypes[feedback.type].name}}</h3>
                            <span ng-hide="feedback.date == ''">Updated by {{feedback.userName}} at {{feedback.date}}</span>
                        </div>
                        <textarea name="text" ng-model="feedback.text" ng-auto-expand>{{feedback.text}}</textarea>
                    </div>
                    <div>
                        <input class="btn" type="submit" value="Edit/save">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>