<div ng-controller="CardTestController as testCtrl">

    <div class="workArea container">
        <div class="row workArea-row" ng-repeat="test in testCtrl.test.tests">
            <div class="col-md-3 taskInfo">
                <div>
                    <div ng-show="test.file != null">
                        <h4 class="disableBottomMargins">Test</h4>
                        <ul class="disableBottomMargins">
                            <li class="breakWords">Test: {{test.file.fileName}}</li>
                            <li>Size: 1.2Mb</li>
                            <li>Uploaded: {{test.file.added | date:'dd.MM.yyyy'}}</li>
                        </ul>
                        <button class="btn btn-default btn-block">Download</button>
                    </div>
                    <div ng-hide="test.file != null">
                        <h4 class="disableBottomMargins">Test</h4>
                        <a class="breakWords" href="{{testCtrl.test.url}}">{{test.url}}</a>
                        <p>Added {{test.added | date:'dd.MM.yyyy'}}</p>
                    </div>
                </div>
            </div>

            <!--Feedbacks-->
            <div class="col-md-9 feedsArea">

                <div class="row">
                    <!--Feedback-->
                    <div class="col-md-10 feedbacks">
                        <div>
                            <h4 class="disableBottomMargins">Feedback</h4>
                            <p class="feedback-addedBy" ng-show="test.feedback.userName != undefined">
                                {{test.feedback.userName}} at {{test.feedback.date}}
                            </p>
                            <textarea class="feedbackField form-control"
                                      ng-readonly="test.feedbackConfig.fieldReadonly"
                                      ng-model="test.feedback.text"></textarea>
                        </div>
                    </div>
                    <!--Buttons-->
                    <div class="col-md-2 group-btn">
                        <button class="btn btn-primary btn-block" ng-click="testCtrl.feedbackButtonToggle(test)">
                            {{test.feedbackConfig.buttonText}}
                        </button>
                        <div style="display: block">
                            <div class="circleButton" ng-click="testCtrl.vote(true)"><span class="glyphicon glyphicon-thumbs-up circleButton-icon"></span></div>
                            <span ng-show="testCtrl.like.count != 0">+{{testCtrl.like.count}}</span>
                        </div>
                        <div style="display: block">
                            <div class="circleButton" ng-click="testCtrl.vote(false)"><span class="glyphicon glyphicon-thumbs-down circleButton-icon"></span></div>
                            <span ng-show="testCtrl.dislike.count != 0">{{testCtrl.dislike.count}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="workArea without-border container">
        <div class="row workArea-row">
            <div class="col-md-5">
                <input type="text" class="form-control testLink" placeholder="Provide link to test" ng-model="testCtrl.testLink"/>
                <button class="btn btn-primary" ng-click="testCtrl.uploadLink()">Add</button>
            </div>
            <div class="col-md-7">
                <input style="margin-left: 16px;" class="form-control filePath" type="text" readonly placeholder="Pick the file with test"/>
                <span class="file-input btn btn-primary btn-file">
                    Browse… <input type="file" multiple="" filread="testCtrl">
                </span>

                <button class="btn btn-primary">Upload</button>
            </div>
        </div>
    </div>
</div>