<div ng-controller="CardSpecialNotesController as specialNotesCtrl">
    <div ng-init="showAddBlock=true">
        <div class="row">
            <ul class="nav nav-pills">
                <li class="active">
                    <a data-toggle="pill" ng-click="specialNotesCtrl.cardNoteShow()">
                        {{specialNotesCtrl.vacancy.name}}
                    </a>
                </li>
                <li><a data-toggle="pill" ng-click="specialNotesCtrl.candidateNoteShow()">All Notes</a></li>
                <li><a data-toggle="pill" ng-click="specialNotesCtrl.userNoteShow()">My Notes</a></li>
                <a ng-click="showAddBlock= !showAddBlock" title="Add new Note"><span class="fa fa-2x fa-plus-circle"></span></a>
            </ul>
        </div>
        <div ng-show="showAddBlock" class="row">
            <br/>
            <form>
                <div class="form-group">
                    <textarea class="form-control" name="text" ng-model="specialNotesCtrl.newNoteText" ng-auto-expand></textarea>
                </div>
                <button class="btn btn-success col-sm-4" type="submit" ng-click="specialNotesCtrl.saveNewNote()">Add</button>
            </form>
        </div>
        <div class="row">
            <div class="hrSpecialNote_form" ng-repeat="item in specialNotesCtrl.notes">
                <form ng-init="editMode=false">
                    <div class="pull-right">
                        <span>Updated by {{item.userAlias}} {{item.lastEdited | date:'medium'}}</span>
                        <a title="Edit Note" ng-click="editMode=true" ng-hide="editMode"><i class="fa fa-2x fa-pencil-square"></i></a>
                        <a title="Save Edit" ng-click="editMode=false; specialNotesCtrl.saveOldNote(item)" ng-show="editMode"><i class="fa fa-2x fa-check-square"></i></a>
                    </div>
                    <textarea class="form-control" name="text" ng-readonly="!editMode"
                              ng-model="item.text" ng-auto-expand></textarea>
                </form>
            </div>
        </div>
        <div class="row" ng-hide="specialNotesCtrl.notes.length">
            <br />
            <p class="text-info">
                There are now special notes for this candidate so far. Click
                <i class="fa fa-plus-circle"></i> above to add new note.
            </p>
        </div>
    </div>
</div>