<div ng-controller="CardSpecialNotesController as specialNotesCtrl">
    <div ng-init="showAddBlock=true">
        <ul class="nav nav-pills">
            <li class="active">
                <a data-toggle="pill" ng-click="specialNotesCtrl.cardNoteShow()">
                    {{specialNotesCtrl.vacancy.name}}
                </a>
            </li>
            <li><a data-toggle="pill" ng-click="specialNotesCtrl.candidateNoteShow()">All Notes</a></li>
            <li><a data-toggle="pill" ng-click="specialNotesCtrl.userNoteShow()">My Notes</a></li>
            <a ng-click="showAddBlock= !showAddBlock" title="Add new Note"><span class="fa fa-2x fa-plus-circle fa-flip-vertical"></span></a>
        </ul>
        <div class="hrSpecialNote_form_add" ng-show="showAddBlock">
            <form>
                <div class="form-group">
                    <textarea class="form-control" name="text" ng-model="specialNotesCtrl.newNoteText" ng-auto-expand></textarea>
                </div>
                <button class="btn btn-success col-sm-4" type="submit" ng-click="specialNotesCtrl.saveNewNote()">Add</button>
            </form>
        </div>
        <div class="hrSpecialNote_form" ng-repeat="item in specialNotesCtrl.notes">
            <form ng-init="editMode=false">
                <div class="col-md-12">
                    <span>Updated by {{item.userAlias}} {{item.lastEdited | date:'medium'}}</span>
                    <a title="Edit Note" ng-click="editMode=true" ng-hide="editMode"><i class="fa fa-pencil-square"></i></a>
                    <a title="Save Edit" ng-click="editMode=false; specialNotesCtrl.saveOldNote(item)" ng-show="editMode"><i class="fa fa-check-square"></i></a>
                </div>
                <textarea class="form-control" name="text" ng-readonly="!editMode"
                          ng-model="item.text" ng-auto-expand></textarea>
            </form>
        </div>
    </div>

</div>