<div ng-controller="CardSpecialNotesController as specialNotesCtrl">
    <div class="hrSpecialNote_wrap">
        <ul class="nav nav-pills">
            <li class="active">
                <a data-toggle="pill" ng-click="specialNotesCtrl.cardNoteShow()">
                    {{specialNotesCtrl.vacancy.name}}
                </a>
            </li>
            <li><a data-toggle="pill" ng-click="specialNotesCtrl.candidateNoteShow()">All Notes</a></li>
            <li><a data-toggle="pill" ng-click="specialNotesCtrl.userNoteShow()">My Notes</a></li>
        </ul>
        <div class="hrSpecialNote_comments">
            <div class="hrSpecialNote_form" ng-repeat="item in specialNotesCtrl.specialNote">
                <form>
                    <div>
                        <div>
                            <span>Updated by {{item.userLogin}} at {{item.lastEdited | date:'medium'}}</span>
                        </div>
                        <textarea name="text" ng-model="item.text" ng-auto-expand>{{item.text}}</textarea>
                    </div>
                    <div>
                        <input class="btn" type="submit" value="Edit" ng-click="specialNotesCtrl.saveOldNote(item)"
                               ng-show="item.userLogin == specialNotesCtrl.userName">
                    </div>
                </form>
            </div>
        </div>
        <div class="hrSpecialNote_form_edit">
            <form>
                <div class="row">
                    <div class="col-md-10">
                        <textarea name="text" ng-model="specialNotesCtrl.newNoteText" ng-auto-expand></textarea>
                    </div>
                    <div class="col-md-2">
                        <input class="btn bottom-Done" type="submit" value="Done" ng-click="specialNotesCtrl.saveNewNote(specialNotesCtrl.newNoteText)">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>