<div class="card-wrapper container">
    <div id="card-static">
        <div class="candidate-info">
            <div class="candidate-personal-info row">
                <div class="image col-md-2" ng-switch on="generalCardCtrl.candidate.photo">
                    <img class="profile-photo img-circle" ng-switch-default src="{{generalCardCtrl.candidate.photoUrl}}" />
                </div>
                <div class="col-md-5">
                    <div class="personal-info">
                        <div>
                            <span class="candidate-name">{{generalCardCtrl.candidate.firstName+" "+generalCardCtrl.candidate.lastName}}</span>
                        </div>
                        <div>current/past: {{generalCardCtrl.candidate.currentPosition}}</div>
                        <div>company/location: {{generalCardCtrl.candidate.company+","+candidateCtrl.candidate.localion}}</div>
                        <div>email: {{generalCardCtrl.candidate.email}}</div>
                        <div>skype: {{generalCardCtrl.candidate.skype}}</div>
                        <div>phone: {{generalCardCtrl.candidate.phone}}</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Origin</label>
                        <input type="text" class="candidate-origin form-control" disabled="disabled" placeholder="Sourced">
                    </div>
                    <div class="candidate-resolution form-group">
                        <label>Resolution</label>
                        <select class="form-control" name="resolution">
                            <option ng-repeat="item in generalCardCtrl.resolutions">{{item.name}}</option>
                            <!-- <option selected="selected">None</option>-->
                            <!-- <option>Available</option>-->
                            <!-- <option>NotInterested</option>-->
                            <!-- <option>Hired</option>-->
                            <!-- <option>Unfit</option>-->
                            <!-- <option>NotNow</option>-->
                        </select>
                    </div>
                    <div class="candidate-resolution form-group">
                        <label>Substatus</label>
                        <select class="form-control" name="substatuse">
                            <option ng-repeat="item in generalCardCtrl.substatuses">{{item.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="salary-wrapper">{{generalCardCtrl.candidate.salary}}</div>
                    <a class="btn-veiw-resume btn btn-default btn-block" href="#">Veiw Resume</a>
                    <a class="btn btn-default btn-block" href="#">View Full Profile</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-md-12">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"
                ng-class="{active: generalCardCtrl.currentTabName == tab.name}"
                ng-repeat="tab in generalCardCtrl.tabs track by $index"
                ng-click="generalCardCtrl.changeTemplate(tab)">
                <a role="presentation" data-toggle="tab">{{ tab.name }}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active">
                <div class="panel-body" id="card-dynamic" ng-include="generalCardCtrl.templateToShow"></div>
            </div>
        </div>
    </div>
</div>
