<div class="container">
    <div class="ll_container">
        <div class="ll_main_wrap">
            <div class="ll_title">
                <h1>{{longListCtrl.longList.name}}</h1>
                <div class="ll_control_buttons">
                    <a class="btn" href="../../#">Add Candidate</a>
                    <a class="btn" href="../../#">Create New Candidate</a>
                    <a class="btn" href="../../#">Vacancy Details</a>
                </div>
            </div>
            <div class="ll_main">
                <aside class="ll_filter">
                    <h2>Filter</h2>
                    <div class="ll_filter_input">
                        <input class="form-control" type="text" placeholder="Search..." />
                    </div>
                    <div class="ll_filter_items">
                        <div>Shortlist</div>
                        <div>Stage</div>
                        <div>Status</div>
                        <div>Added by</div>
                    </div>
                </aside>
                <div class="ll_list">
                    List of Candidates
                    <div class="ll_candidate_item" ng-repeat="candidate in longListCtrl.longList.candidateLongListDto">
                        <img src="" alt="" />
                        <div>{{candidate.firstName}} {{candidate.lastName}}</div>
                        <div>{{candidate.salary}}</div>
                        <div>{{candidate.email}}<br />{{candidate.location}}</div>
                    </div>


                    <!--<li ng-repeat="pool in poolCtrl.poolsList | filter:searchPool">
                        <p style="background-color: {{pool.color}}">{{pool.name}}</p><a href="../../#/pool/edit/{{pool.id}}" title="Edit"></a>
                    </li>-->


                </div>
            </div>
        </div>
        <div class="ll_preview">Preview</div>
    </div>
</div>