<div class="container">
    <div class="ll_container">
        <div class="ll_main_wrap">
            <div class="ll_title">
                <h1>{{longListCtrl.vacancy.name}}</h1>
                <div class="ll_control_buttons">
                    <a class="btn" href="../../#">Add Candidate</a>
                    <a class="btn" href="../../#">Create New Candidate</a>
                    <a class="btn" href="../../#">Vacancy Details</a>
                </div>
            </div>
            <div class="ll_main">
                <aside class="ll_filter">
                    <h2>Filters</h2>
                    <div class="ll_filter_input">
                        <input type="search" class="form-control" ng-model="longListCtrl.filter.search">
                    </div>
                    <div class="ll_filter_items">
                        <ul>
                            <li>
                                <input type="checkbox" checklist-model="longListCtrl.filter.shortlisted" checklist-value="true"> Shortlisted
                            </li>
                            <li>
                                Stage
                                <ul>
                                    <li ng-repeat="st in longListCtrl.stages">
                                        <input type="checkbox" checklist-model="longListCtrl.filter.stages" checklist-value="st.id"> {{st.name}}
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Added by
                                <ul>
                                    <li ng-repeat="addedby in longListCtrl.addedByList">
                                        <input type="checkbox" checklist-model="longListCtrl.filter.hr" checklist-value="addedby.userLogin"> {{addedby.userLogin == '' ? 'unknown' : addedby.alias}} ({{addedby.countOfAddedCandidates}})
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </aside>
                <div class="ll_list">
                    <div class="ll_candidate_item" ng-repeat="candidate in longListCtrl.candidatesList" ng-click="longListCtrl.viewCandidateInfo(candidate.id)" ng-class="longListCtrl.ActiveItem(candidate.id)">
                        <div class="col-md-4 ll_candidate_item_img" shor-list-star>
                            <span ng-switch on="candidate.photo"><img ng-switch-default src="{{candidate.photoUrl}}" /></span>
                            <p class="years_of_experience">{{candidate.yearsOfExperience}}</p>
                            <!--<p class="candidate_bookmark"><span class="glyphicon glyphicon-star-empty"></span></p>-->
                        </div>
                        <div class="col-md-4">
                            <p>
                                <strong>{{candidate.firstName}} {{candidate.lastName}}</strong>
                            </p>
                            <p>{{candidate.addDate == null ? '' : candidate.addDate | date:'dd.MM.yyyy'}}</p>
                        </div>
                        <div class="col-md-4 candidate_item_salary">
                            <!--<p>{{candidate.stage}}</p>-->
                            <p>{{longListCtrl.stages[candidate.stage].name}}</p>
                            <p>
                                <strong>{{candidate.salary}}</strong>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p>{{candidate.email}}</p>
                            <p>{{candidate.company}} / {{candidate.location}}</p>
                        </div>
                    </div>
                    <select class="form-control" ng-change="longListCtrl.getCandidatesForLongList()" ng-options="item.options as item.text for item in longListCtrl.sortOptions" ng-model="longListCtrl.order"></select>
                    <pagination total-items="longListCtrl.totalItems"
                                ng-model="longListCtrl.filter.currentPage"
                                items-per-page="longListCtrl.pageSize"
                                max-size="5"
                                class="pagination-sm"
                                boundary-links="true"
                                template-url="../../Views/templates/pagination.html">
                    </pagination>
                </div>
            </div>
        </div>
        <div class="ll_preview" ng-repeat="candidate in longListCtrl.candidatesList" ng-show="longListCtrl.tabIsSet(candidate.id)">
            <p class="ll_close_button" ng-click="longListCtrl.previewTabSet(0)"><span class=" glyphicon glyphicon-remove"></span></p>
            <h2>Preview</h2>
            <div class="ll_preview_info">
                <div class="ll_preview_info_img">
                    <img src="{{longListCtrl.candidateDetails.photoUrl}}" alt="{{longListCtrl.candidateDetails.firstName}} {{longListCtrl.candidateDetails.lastName}} foto" title="{{longListCtrl.candidateDetails.firstName}} {{longListCtrl.candidateDetails.lastName}} foto" />
                </div>
                <div class="ll_preview_info_all">
                    <p>{{longListCtrl.candidateDetails.firstName}} {{longListCtrl.candidateDetails.lastName}}</p>
                    <p>{{longListCtrl.candidateDetails.salary}}</p>
                    <p>{{longListCtrl.candidateDetails.resolution}} / {{longListCtrl.stages[candidate.stage].name}}</p>
                </div>
                <div class="ll_preview_info_control">
                    <a class="btn" href="#/vacancy/{{longListCtrl.vacancy.id}}/candidate/{{longListCtrl.candidateDetails.id}}">Full Profile</a>
                    <a class="btn" href="../../#">Edit Profile</a>
                </div>
                <div class="ll_preview_info_comments">
                    <h3>Comments and notes</h3>
                    <p>{{longListCtrl.candidateDetails.testComment}}</p>
                    <p>{{longListCtrl.candidateDetails.specialNotes}}</p>
                </div>
                <div class="ll_preview_info_control">
                    <a class="btn" href="../../#">View Resume</a>
                    <a class="btn" href="../../#">View Linkedin</a>
                </div>
            </div>
        </div>
    </div>
</div>