<div class="container">
    <div class="pool_container">
        <div class="pool_title">
            <div></div>
            <h3>Pools</h3>
            <div><a href="../../#/pool">Close</a>
            </div>
        </div>
        <div class="pool_list">
            <div><input ng-model="searchPool" class="form-control" ng-model="poolAddEditCtrl.pool.name" title="Pool name" type="text" placeholder="Search..." /></div>
            <ul class="column_data">
                <li ng-repeat="pool in poolCtrl.poolsList | filter:searchPool">
                    <p style="background-color: {{pool.color}}">{{pool.name}}</p><a href="../../#/pool/edit/{{pool.id}}">Edit</a>
                </li>
            </ul>
            <a class="btn" href="../../#/pool/edit/0">Create New Pool</a>
        </div>
    </div>
</div>