<div class="container">
    <div>
        <h1>Candidate</h1>
    </div>
    <div class="candidate-info">
        <div class="candidate-personal-info row">
            <div class="image col-md-2">
                <img class="img-circle" src="http://www.glaz.tv/images/logos/webcams/big/panda.jpg" alt="">
            </div>
            <div class="col-md-6">
                <div class="personal-info">
                    <div>
                        <span class="candidate-name">Jhone Smith</span>
                    </div>
                    <div>current/past: .Net Developer</div>
                    <div>company/location: Sitecom LLC, Kiev</div>
                    <div>emaile: jone@smit.com</div>
                    <div>skype: jone</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="salary-wrapper">900</div>
                <input class="btn-veiw-resume btn btn-default btn-block" type="button" value="Veiw Resume">
                <input class="btn-veiw-resume btn btn-default btn-block" type="button" value="Edite Profile">
            </div>
        </div>
        <dic class="candidate-notes row">
            <div class="note-info-conteiner col-md-8">
                <div class="note-info-title"><h3>Aplication Results</h3></div>
                <div>
                    <table class="notes-table">
                        <tr class="passed">
                            <td>PHP</td>
                            <td>15/04/2016</td>
                            <td>passed</td>
                        </tr>
                        <tr class="passed">
                            <td>PHP</td>
                            <td>21/09/2016</td>
                            <td>passed</td>
                        </tr>
                        <tr class="failed">
                            <td>JS</td>
                            <td>7/05/2016</td>
                            <td>failed(test)</td>
                        </tr>
                        <tr class="passed">
                            <td>PHP</td>
                            <td>12/03/2016</td>
                            <td>passed</td>
                        </tr>
                        <tr class="passed">
                            <td>PHP</td>
                            <td>20/07/2016</td>
                            <td>passed</td>
                        </tr>
                        <tr class="failed">
                            <td>JS</td>
                            <td>17/05/2016</td>
                            <td>failed(test)</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="note-info-nav col-md-4">
                <ul class="nav">
                    <li class="active">Aplications</li>
                    <li>Spetial Notes</li>
                    <li>Tests</li>
                    <li>Interviews</li>
                </ul>
            </div>
        </dic>

    </div>
</div>