.ll_container * {
    /*border: 1px solid green;*/
}
.ll_container {
    width: 100%;
    overflow: hidden;
}

.ll_main_wrap {
    width: 65%;
    height: 100%;
    float: left;
    padding-right: 10px;
}
.ll_container h2{
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.ll_preview{
    width: 35%;
    float: right;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px;
    position: relative;
}
.ll_preview h2{
    padding: 10px 0;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
}
.ll_title {
    float: left;
    width: 100%;
}
.ll_title>* {
    height: 100%;
}
.ll_title>h1 {
    padding: 0;
    margin: 0;
    font-size: 25px;
    width: 30%;
    float: left;
}
.ll_control_buttons {
    float: right;
    width: 70%;
}
.ll_control_buttons .btn{
    float: right;
    background-color: rgb(221, 221, 221);
    color: rgb(51, 51, 51);
    width: auto;
    margin-left: 5px;
    font-size: 12px;
    height: 28px;
}

.ll_main {
    float: left;
    width: 100%;
    padding-top: 15px;
}

.ll_filter, .ll_list {
    float: left;
}
.ll_filter {
    width: 30%;
}
.ll_list {
    width: 70%;
    padding-left: 10px;
}
.ll_list select{
    float: left;
    margin: 20px 0;
    width: 40%;
    height: 30px;
}
.ll_filter_input {
    width: 100%;
    float: left;
          
}
.ll_filter_items {
    width: 100%;
    float: left;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
}
.ll_filter_input>input {
    height: 25px;
    margin: 5px 0;
}
.ll_filter_items>*{
    width: 100%;
    float: left;
}
.ll_filter_items>ul>li {
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
}
.ll_filter_items>ul>li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}
.ll_filter_items li li{
    padding-left: 10px;
}
.ll_filter_items input[type='search'] {
    height: 25px;
    margin: 5px 0;
}
.ll_candidate_item {
    padding: 5px;
    float: left;
    width: 100%;
    border: 1px solid grey;
    border-radius: 3px;
    margin-bottom: 5px;
}
.ll_candidate_item p {
    margin: 0;
}
.ll_candidate_item p:first-child {
    margin: 9px 0;
}
.ll_candidate_item:hover, .ll_candidate_item_active {
    cursor: pointer;
    border: 4px solid grey;
    padding: 2px;
}
.ll_candidate_item_active{
    background-color: rgb(248, 248, 248);
}
.ll_candidate_item .ll_candidate_item_img {
    position: relative;
    padding: 5px;
    max-width: 70px;
}
.ll_candidate_item_img img {
    background-color: aliceblue;
    border-radius: 30px;
    border-style:none;
    width: 60px;
    height: 60px;
    border: 0;
}
.ll_candidate_item_img .years_of_experience{
    position: absolute;
    background: yellowgreen;
    width: 20px;
    height: 15px;
    font-size: 11px;
    top: 0px;
    right: 0px;
    text-align: center;
    border-radius: 5px;
    margin: 0;
}
.ll_candidate_item_img .candidate_bookmark {
    position: absolute;
    width: 25px;
    height: 20px;
    bottom: 0px;
    right: 0px;
    text-align: center;
    border-radius: 5px;
    margin: 0;
    font-size: 20px;
}
.candidate_item_salary {
    max-width: 70px; 
}
.pagination {
     float: right;
}
.ll_preview_info {
    width: 100%;
    float: left;
}
.ll_preview_info_img {
    float: left;
    position: relative;
}
.ll_preview_info_all {
    float: left;
    font-size: 26px;
    margin-left: 10px;
    max-width: 250px;
}
.ll_preview_info_all p {
    margin: 0 0 5px;    
}
.ll_preview_info_all p:last-child {
    font-size: 16px;
}
.ll_preview_info_all p:first-child {
    font-weight: bold;
}
.ll_preview_info_img img {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: aliceblue;
}
.ll_preview_info_control {
    margin-top: 10px;
    float: left;
    width: 100%;
}
.ll_preview_info_control .btn {
    float: left;
    background-color: rgb(221, 221, 221);
    color: rgb(51, 51, 51);
    width: auto;
    margin-right: 5px;
    font-size: 12px;
    height: 28px;
}
.ll_close_button {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 14px;
    top: 7px;
    font-size: 25px;
    opacity: .2;
}
.ll_close_button:hover {
    cursor: pointer;
    opacity: .5;
}
.ll_preview_info_comments {
    float: left;
    width: 100%;
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px;
}

.ll_preview_info_comments h3{
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px;
}
.ll_preview_info_comments p {
    border-bottom: 1px solid gray;
}
.ll_preview_info_comments p:last-child {
    border-bottom: none;
    margin: 0;
}

.temppp {
    background-color: red;
}