*{
	text-decoration: none;
	margin:0;
	padding:0;
}

.margin-bottom{
	margin-bottom: 15px;
}

li{
	list-style-type: none;
}

.col-md-4 {
    font: 13pt bold ;
    margin-top: 10px;
}

.button-done {
    text-align: right;
}
