.pool-label {
    width: auto; 
    float: left;
    margin-left: 3px;
    padding: 0 5px;
}

.pool-label-container {
    float: left; 
    width: auto; 
    display: inline-block;
}

.pool-widget-container {
    position: absolute;
    width: auto;
    background-color: white;
    z-index: 100;
}
