.pool-label {
    color: white;
    font-weight: 600;
    height: 30px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin-left: 5px;
    padding: 0 5px;
    border-radius: 5px;
}

.pool-label-short {
    width: 50px;
    height: 13px;
    float: left;
    margin-left: 3px;
    border-radius: 5px;
}

.pool-label-container {
    padding-left: 15px;
    float: left; 
    width: auto; 
    display: inline-block;
}

.pool-widget-container {
    position: absolute;
    width: auto;
    background-color: white;
    z-index: 100;
}

.pool-selector-btn {
    height: 30px;
    /*margin-left: 10px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center*/
}

/*.pool-selector-btn-icon {
    position: relative;
    bottom: 6px;
}*/
