<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h3>{{candidateListCtrl.pageConfig.pageTitle}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="filte-form-wrapper col-md-3">

            <div class="form-group">
                <label>Filter</label>
                <input type="search" class="form-control" ng-model="candidateListCtrl.filter.search">
            </div>

            <div class="filter-settings">
                <ul>
                    <li>
                        Pool
                        <ul>
                            <li ng-repeat="pool in candidateListCtrl.pools">
                                <input type="checkbox" checklist-model="candidateListCtrl.filter.pools" checklist-value="pool.name"> {{pool.name}}
                            </li>
                        </ul>
                    </li>
                    <li>
                        Resolution
                        <ul>
                            <li ng-repeat="status in candidateListCtrl.statuses">
                                <input type="checkbox" checklist-model="candidateListCtrl.filter.statuses" checklist-value="status.id"> {{status.name}}
                            </li>
                        </ul>
                    </li>
                    <li>
                        Added by
                        <ul>
                            <li ng-repeat="inv in candidateListCtrl.inviters">
                                <input type="checkbox" checklist-model="candidateListCtrl.filter.inviters" checklist-value="inv.userLogin"> {{inv.alias}}({{inv.countOfAddedCandidates}})
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

            <div class="col-md-9" spinner="candidateListCtrl.tableSpinner">
                <div class="form-group col-md-5">
                    <label>Order By</label>
                    <select class="form-control" ng-change="candidateListCtrl.getCandidates()" ng-options="item.options as item.text for item in candidateListCtrl.sortOptions" ng-model="candidateListCtrl.order"></select>
                </div>

                <table class="longlist table table-bordered">
                    <tr>
                        <th></th>
                        <!--<th>Photo</th>-->
                        <th>
                            Name
                            <span ng-show="candidateListCtrl.order.field == 'FirstName' && candidateListCtrl.order.dir == 'asc'" class="fa fa-caret-down"></span>
                            <span ng-show="candidateListCtrl.order.field == 'FirstName' && candidateListCtrl.order.dir == 'desc'" class="fa fa-caret-up"></span>
                        </th>
                        <th>
                            Added
                            <span ng-show="candidateListCtrl.order.field == 'AddDate' && candidateListCtrl.order.dir == 'asc'" class="fa fa-caret-down"></span>
                            <span ng-show="candidateListCtrl.order.field == 'AddDate' && candidateListCtrl.order.dir == 'desc'" class="fa fa-caret-up"></span>
                        </th>
                        <th>
                            Resolution
                            <span ng-show="candidateListCtrl.order.field == 'Resolution' && candidateListCtrl.order.dir == 'asc'" class="fa fa-caret-down"></span>
                            <span ng-show="candidateListCtrl.order.field == 'Resolution' && candidateListCtrl.order.dir == 'desc'" class="fa fa-caret-up"></span>
                        </th>
                        <!--<th ng-hide="$root.candidateDetails.show">
                            Email
                            <span ng-show="candidateListCtrl.order.field == 'Email' && candidateListCtrl.order.dir == 'asc'" class="fa fa-caret-down"></span>
                            <span ng-show="candidateListCtrl.order.field == 'Email' && candidateListCtrl.order.dir == 'desc'" class="fa fa-caret-up"></span>
                        </th>-->
                        <th>
                            Exp
                            <span ng-show="candidateListCtrl.order.field == 'YearsOfExperience' && candidateListCtrl.order.dir == 'asc'" class="fa fa-caret-down"></span>
                            <span ng-show="candidateListCtrl.order.field == 'YearsOfExperience' && candidateListCtrl.order.dir == 'desc'" class="fa fa-caret-up"></span>
                        </th>
                        <th>
                            Company
                            <span ng-show="candidateListCtrl.order.field == 'Company' && candidateListCtrl.order.dir == 'asc'" class="fa fa-caret-down"></span>
                            <span ng-show="candidateListCtrl.order.field == 'Company' && candidateListCtrl.order.dir == 'desc'" class="fa fa-caret-up"></span>
                        </th>
                        <th>
                            City
                            <span ng-show="candidateListCtrl.order.field == 'Location' && candidateListCtrl.order.dir == 'asc'" class="fa fa-caret-down"></span>
                            <span ng-show="candidateListCtrl.order.field == 'Location' && candidateListCtrl.order.dir == 'desc'" class="fa fa-caret-up"></span>
                        </th>
                        <th>
                            Salary
                            <span ng-show="candidateListCtrl.order.field == 'Salary' && candidateListCtrl.order.dir == 'asc'" class="fa fa-caret-down"></span>
                            <span ng-show="candidateListCtrl.order.field == 'Salary' && candidateListCtrl.order.dir == 'desc'" class="fa fa-caret-up"></span>
                        </th>
                    </tr>
                    <tr ng-repeat="item in candidateListCtrl.candidateList" ng-click="candidateListCtrl.ShowDetails(item)" ng-class="candidateListCtrl.ActiveTr(item.id)">
                        <td><input type="checkbox" checklist-model="candidateListCtrl.selectedCandidates" checklist-value="item.id" ng-click="$event.stopPropagation();"></td>
                        <!--<td style="position: relative">
                            <shor-list-star is-short="item.shortListed" candidate-id="item.id" size="'18px'" ng-click="$event.stopPropagation();"></shor-list-star>
                            <img class="photo-in-list" ng-src="{{item.photoUrl}}"/>
                        </td>-->
                        <td><a href="#/candidate/{{item.id}}">{{item.firstName + " " + item.lastName}}</a></td>
                        <td>{{item.addDate | date:'dd.MM.yyyy'}}</td>
                        <td>{{candidateListCtrl.statuses[item.resolution].name}}</td>
                        <!--<td>{{item.email}}</td>-->
                        <td>{{item.yearsOfExperience}}</td>
                        <td>{{item.company}}</td>
                        <td>{{item.location}}</td>
                        <td>{{item.salary}}</td>
                    </tr>
                </table>
                <div ng-show="candidateListCtrl.pageConfig.isAddToVacancyButton" class="row form-inline">
                    <select class="col-md-8 form-control" ng-model="candidateListCtrl.vacancyId">
                        <option ng-repeat="option in candidateListCtrl.vacancyByState" value="{{option.id}}">{{option.name}}</option>
                    </select>
                    <button class="btn btn-default col-md-offset-1 col-md-3" type="button" ng-click="candidateListCtrl.addCandidateToLongList()">Add to Long List</button>
                </div>
                <div ng-hide="candidateListCtrl.pageConfig.isAddToVacancyButton" class="row form-inline">
                    <button class="btn btn-default col-md-offset-1 col-md-10" type="button" ng-click="candidateListCtrl.addCandidateToLongList()">Add to '{{candidateListCtrl.vacancy.name}}' Long List</button>
                </div>
                <div class="row form-inline">
                    <pagination total-items="candidateListCtrl.totalItems"
                                ng-model="candidateListCtrl.filter.currentPage"
                                items-per-page="candidateListCtrl.pageSize"
                                max-size="5"
                                class="pagination-sm"
                                boundary-links="true"
                                template-url="../../Views/templates/pagination.html"></pagination>
                    <div class="pagination page-count-wrapper">
                        <span>Items on page</span>
                        <select class="form-control" ng-model="candidateListCtrl.pageSize" ng-change="candidateListCtrl.getCandidates()">
                            <option selected value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="">All</option>
                        </select>

                    </div>
                </div>
                

      

                <!--<nav>
                    <div class="row">
                        <div class="dropdown col-md-2">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Add To Pool
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">.Net</a></li>
                                <li><a href="#">JS</a></li>
                                <li><a href="#">PHP</a></li>
                                <li><a href="#">QA</a></li>
                            </ul>
                        </div>
                        <div class="dropdown col-md-1">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                .Net
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">.Net</a></li>
                                <li><a href="#">JS</a></li>
                                <li><a href="#">PHP</a></li>
                                <li><a href="#">QA</a></li>
                            </ul>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-default" type="button">Ok</button>
                        </div>

                    </div>
                </nav>-->
            </div>
            <div class="col-md-4 partia-candidate-detailes" ng-show="$root.candidateDetails.show" ng-include="'/Views/candidate/profilePartial/profilePartial.html'"></div>


    </div>
</div>

