<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h3>Candidates (general pool)</h3>
        </div>
    </div>
    <div class="row">
        <div class="filte-form-wrapper col-md-3">
            
                <div class="form-group">
                    <label>Filter</label>
                    <input type="search" class="form-control">
                </div>
            
            <div class="filter-settings">
                <ul>
                    <li>
                        Pool
                        <ul>
                            <li><input type="checkbox"> .Net</li>
                            <li><input type="checkbox"> JS</li>
                            <li><input type="checkbox"> PHP</li>
                            <li><input type="checkbox"> QA</li>
                        </ul>
                    </li>
                    <li>
                        Status
                        <ul>
                            <li><input type="checkbox"> New</li>
                            <li><input type="checkbox"> In Review</li>
                            <li><input type="checkbox"> Hired</li>
                        </ul>
                    </li>
                    <li>
                        Added by
                        <ul>
                            <li><input type="checkbox"> Ulyana</li>
                            <li><input type="checkbox"> Kate</li>
                            <li><input type="checkbox"> Ira</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="longlist-wrapper col-md-9">
            <table class="longlist table table-bordered">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Added</th>
                    <th>Status</th>
                    <th>Email</th>
                    <th>Exp</th>
                    <th>Company</th>
                    <th>City</th>
                    <th>Salary</th>
                </tr>
                <tr dir-paginate="item in candidateListCtrl.candidateList | itemsPerPage: candidateListCtrl.pageSize" current-page="candidateListCtrl.currentPage">
                    <!--<tr ng-repeat="item in candidateListCtrl.candidateList">-->
                    <td><input type="checkbox" ng-model="item.shortListed"></td>
                    <td><a href="#/candidate/{{item.id}}">{{item.firstName + " " + item.lastName}}</a></td>
                    <td>none</td>
                    <td>none</td>
                    <td>{{item.email}}</td>
                    <td>{{item.yearsOfExperience}}</td>
                    <td>{{item.company}}</td>
                    <td>{{item.location}}</td>
                    <td>{{item.salary}}</td>
                </tr>
            </table>
            <nav>
                <div class="row">
                    <div class="dropdown col-md-2">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Add To Pool
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">.Net</a></li>
                            <li><a href="#">JS</a></li>
                            <li><a href="#">PHP</a></li>
                            <li><a href="#">QA</a></li>
                        </ul>
                    </div>
                    <div class="dropdown col-md-1">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            .Net
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">.Net</a></li>
                            <li><a href="#">JS</a></li>
                            <li><a href="#">PHP</a></li>
                            <li><a href="#">QA</a></li>
                        </ul>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-default" type="button">Ok</button>
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Views/candidate/list/dirPagination.tpl.html"></dir-pagination-controls>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>

