<!--should includ MyStyle.css -->
<div class="container">

    <div class="row margin-bottom">
        <div class="col-md-2">
            <span class="h2">Vacancies</span>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <button type="button" class="btn btn-default vcenter">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Add new
            </button>
        </div>
    </div>

    <div class="row">
        <form role="form">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="searchFilter">Filter</label>
                    <input type="text" class="form-control" id="searchFilter" placeholder="Search"
                           ng-model="VacancyListCtrl.filterOptions.searchText"
                           >
                </div>
                <h4>Pool</h4>
                <ul>
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" 
                                       ng-model="VacancyListCtrl.filterOptions.poolFilters[1]"> JS
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" 
                                       ng-model="VacancyListCtrl.filterOptions.poolFilters[2]"> .NET
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" 
                                       ng-model="VacancyListCtrl.filterOptions.poolFilters[3]"> PHP
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" 
                                       ng-model="VacancyListCtrl.filterOptions.poolFilters[4]"> QA
                            </label>
                        </div>
                    </li>
                </ul>
                <hr />
                <h4>Status</h4>
                <ul>
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" 
                                   ng-model="VacancyListCtrl.filterOptions.statusFilters[0]"> Active
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" 
                                   ng-model="VacancyListCtrl.filterOptions.statusFilters[1]"> Closed
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" 
                                   ng-model="VacancyListCtrl.filterOptions.statusFilters[2]"> Burning
                            </label>
                        </div>
                    </li>
                </ul>
                <hr />
                <h4>Added by</h4>
                <ul>
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" 
                                       ng-model="VacancyListCtrl.filterOptions.adderFilters[0].isChecked"> Ulyana
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" 
                                       ng-model="VacancyListCtrl.filterOptions.adderFilters[1].isChecked"> Kate
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" 
                                       ng-model="VacancyListCtrl.filterOptions.adderFilters[2].isChecked"> Ira
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <table class="table table-striped table-hover table-responsive">
                    <tr>
                        <th>checkbox  </th>
                        <th>Title</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Candidates</th>
                        <th>Shortlisted</th>
                        <th>Added By</th>
                    </tr>
                    <!--<tr ng-repeat="vacancy in VacancyListCtrl.vacancies">
                        <td>
                            <input type="checkbox">
                        </td>
                        <td>
                            <a href="#">{{vacancy.name}}</a>
                        </td>
                        <td>{{vacancy.startDate | date:'dd-MM-yyyy'}}</td>
                        <td>{{vacancy.endDate | date:'dd-MM-yyyy'}}</td>
                        <td>{{vacancy.countCandidates}}</td>
                        <td>{{vacancy.countShortListed}}</td>
                        <td>{{vacancy.addedByName}}</td>
                    </tr> -->
 
                    <tr dir-paginate="vacancy in VacancyListCtrl.vacancies | VacanciesFilter:VacancyListCtrl.filterOptions | itemsPerPage: VacancyListCtrl.pageSize" current-page="VacancyListCtrl.currentPage">
                        <td>
                            <input type="checkbox">
                        </td>
                        <td>
                            <a href="#">{{vacancy.name}}</a>
                        </td>
                        <td>{{vacancy.startDate | date:'dd-MM-yyyy'}}</td>
                        <td>{{vacancy.endDate | date:'dd-MM-yyyy'}}</td>
                        <td>{{vacancy.countCandidates}}</td>
                        <td>{{vacancy.countShortListed}}</td>
                        <td>{{vacancy.addedByName}}</td>
                    </tr>
                    
                </table>
            </div>
            <div class="col-md-2">
                <select class="form-control">
                    <option>Close</option>
                    <option>Edit</option>
                    <option>Delete</option>
                </select>
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary">Ok</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="text-center">
            <div ng-controller="OtherController" class="other-controller">
                <div class="text-center">
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Views/vacancy/list/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
