<!--should includ MyStyle.css -->
<div class="container">

    <div class="row margin-bottom">
        <div class="col-md-2">
            <span class="h2">Vacancies</span>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <select class="form-control" ng-model="vacancyListCtrl.sortAction" ng-options="s.name for s in vacancyListCtrl.sortBy"></select>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <a href="#/vacancy/edit" class="btn">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Add new
            </a>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <a href="#" class="btn">
                <span class="fa fa-archive"></span>
                Go to Archive
            </a>
    </div>
    </div>
    <div class="row">
        <form role="form">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Filter</label>
                    <input type="text" class="form-control" id="searchFilter" placeholder="Search" ng-model="vacancyListCtrl.filterParams.filter">
                </div>
                <h4>Pool</h4>
                <ul>
                    <li ng-repeat="pool in vacancyListCtrl.pools">
                        <div class="checkbox">
                            <label><input type="checkbox" ng-click="vacancyListCtrl.pushPopItem(vacancyListCtrl.pools[$index].id, vacancyListCtrl.filterParams.pool)">{{pool.name}}</label>
                        </div>
                    </li>
                </ul>
                <hr />
                <h4>Status</h4>
                <ul>
                    <li ng-repeat="status in vacancyListCtrl.statuses">
                        <div class="checkbox">
                            <label><input type="checkbox" ng-click="vacancyListCtrl.pushPopItem(vacancyListCtrl.statuses[$index].id, vacancyListCtrl.filterParams.status)">{{status.name}}</label>
                        </div>
                    </li>
                </ul>
                <hr />
                <h4>Added by</h4>
                <ul>
                    <li ng-repeat="adder in vacancyListCtrl.adders">
                        <div class="checkbox">
                            <label><input type="checkbox" ng-click="vacancyListCtrl.pushPopItem(vacancyListCtrl.adders[$index].login, vacancyListCtrl.filterParams.addedBy)">{{adder.login}}</label>
                        </div>
                    </li>
                </ul>
                <hr />
                <button ng-click="vacancyListCtrl.loadDataByParams()" class="btn btn-primary">Filter</button>
            </div>
            <div class="col-md-9">
                <table class="table table-striped table-hover table-responsive">
                    <tr dir-paginate="vacancy in vacancyListCtrl.vacancies | itemsPerPage: vacancyListCtrl.filterParams.pageSize" total-items="10" current-page="vacancyListCtrl.filterParams.page">
                        <td>
                            <input type="checkbox">
                        </td>
                        <td>
                            <div>{{vacancy.name}} &ndash; {{vacancy.statusName}}</div>
                            <div>
                                {{ vacancy.startDate == null ? 'no date' : vacancy.startDate | date:'dd-MM-yyyy' }} /
                                {{ vacancy.endDate == null ? 'no date' : vacancy.endDate | date:'dd-MM-yyyy'}}
                            </div>
                            <div class="col-md-5">
                                <a class="btn btn-default " href="#">Edit</a>
                                <a class="btn btn-default " href="#/vacancy/{{vacancy.id}}/longlist">View</a>
                            </div>
 

                            <div class="col-md-1 col-lg-offset-4">
                                <a class="btn btn-default " href="#">Archive</a>
                            </div>
                        </td>
                    </tr>
                </table><br />
                <div class="text-center">
                    <dir-pagination-controls boundary-links="true" on-page-change="vacancyListCtrl.pageChangeHandler(newPageNumber)" template-url="/Views/vacancy/list/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
                <div class="col-md-2">
                    <select class="form-control">
                        <option>Close</option>
                        <option>Edit</option>
                        <option>Delete</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary">Ok</button>
                </div>
            </div>
    </div>
</div>
