<!--should includ MyStyle.css -->
<div class="container">

    <div class="row margin-bottom">
        <div class="col-md-2">
            <span class="h2">Vacancies</span>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <a href="#/vacancy/edit" class="btn">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Add new
            </a>
        </div>
        <div class="col-md-2 col-md-offset-5">
            <a href="#" class="btn">
                Go to Archive
            </a>
        </div>
    </div>

    <div class="row">
        <form role="form">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="searchFilter">Filter</label>
                    <input type="text" class="form-control" id="searchFilter" placeholder="Search"
                           ng-model="VacancyListCtrl.filterOptions.searchText">
                </div>
                <h4>Pool</h4>
                <ul>
                    <li ng-repeat="pool in VacancyListCtrl.pools">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> {{pool.name}}
                            </label>        
                        </div>
                    </li>
                </ul>
                <hr />
                <h4>Status</h4>
                <ul>
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" 
                                   ng-model="VacancyListCtrl.filterOptions.statusFilters[0]"> Opened
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" 
                                   ng-model="VacancyListCtrl.filterOptions.statusFilters[1]"> Closed
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       ng-model="VacancyListCtrl.filterOptions.statusFilters[2]"> Burning
                            </label>
                        </div>
                    </li>
                </ul>
                <hr />
                <h4>Added by</h4>
                <ul>
                    <!--<li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       ng-model="VacancyListCtrl.filterOptions.adderFilters[0].isChecked"> Ulyana
                            </label>
                        </div>
                    </li> -->
                    <li ng-repeat="user in VacancyListCtrl.users">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> {{user.login}}
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <table class="table table-striped table-hover table-responsive vacancy-list">
                    <tr ng-repeat="vacancy in VacancyListCtrl.vacancies">
                        <td>
                            <div>{{vacancy.name}} &ndash; {{vacancy.statusName}}</div>
                            <div>
                                {{ vacancy.startDate == null ? 'no date' : vacancy.startDate | date:'dd-MM-yyyy' }} /
                                {{ vacancy.endDate == null ? 'no date' : vacancy.endDate | date:'dd-MM-yyyy'}}
                            </div>
                            <div class="col-md-5">
                                <a class="btn btn-default " href="#">Edit</a>
                                <a class="btn btn-default " href="#">View</a>
                            </div>
                            

                            <div class="col-md-1 col-lg-offset-4">
                                <a class="btn btn-default " href="#">Archive</a>
                            </div>
                        </td>
                    </tr>
                </table>
                <div>
                    <div class="col-md-3">
                        <select class="form-control">
                            <option>Close</option>
                            <option>Edit</option>
                            <option>Delete</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-primary">Ok</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="text-center">
            <div ng-controller="OtherController" class="other-controller">
                <div class="text-center">
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Views/vacancy/list/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
