
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWithMainMenu.cshtml";
}

<script src='../../bower_components/angular/angular.js'></script>
<script src='../../bower_components/angular-route/angular-route.js'></script>
<script src="../../bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
@*<script src='../../Scripts/app.js'></script>*@
<script src='../../Views/app/app.js'></script>
<script src="../../Views/services/authInterceptorService.js"></script>
<script src="../../Views/services/authService.js"></script>
<script src="../../Views/services/helper/httpHandler.js"></script>
<h2>Index</h2>
<div ng-view></div>


<script src="../../Views/login/loginController.js"></script>
<script>
    angular.bootstrap(document, ['hunter-app']);
</script>

