
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWithMainMenu.cshtml";
}

<script src="~/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src='~/bower_components/angular/angular.js'></script>
<script src='~/bower_components/angular-route/angular-route.js'></script>
<script src="~/bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src='~/Views/app/app.js'></script>
<script src="~/Views/services/helper/authService.js"></script>
<script src="~/Views/services/helper/httpHandler.js"></script>
<script src="~/Views/services/helper/authInterceptorService.js"></script>
<script src="~/Views/services/candidate/candidatesHttpService.js"></script>
<script src="~/Views/candidate/addEdit/candidateAddEditController.js"></script>
<script src="~/Views/services/candidate/addEdit/addEditService.js"></script>
<script src="~/Views/candidate/profile/candidateController.js"></script>
<script src="~/Views/candidate/list/candidateListtController.js"></script>
<script src="~/Views/vacancy/addEdit/vacancyAddEditController.js"></script>
<script src="~/Views/vacancy/list/vacancyListController.js"></script>
<script src="~/Views/vacancy/profile/vacancyController.js"></script>
<script src="~/Views/services/vacancy/addEdit/addEditService.js"></script>
<script src="~/Views/services/vacancy/vacancyHttpService.js"></script>
<script src="~/Views/Statistics/statisticsController.js"></script>
<script src="../../Views/login/loginController.js"></script>
<script src="../../Views/pool/list/poolListController.js"></script>
<script src="../../Views/pool/addEdit/poolAddEditController.js"></script>


<script src="~/Views/services/helper/httpHandler.js"></script>
<script src="~/Views/services/vacancy/vacancyHttpService.js"></script>
<script src="~/Views/Vacancy/list/vacancyListController.js"></script>

<script src='../../bower_components/angular/angular.js'></script>
<script src='../../bower_components/angular-route/angular-route.js'></script>
@*<script src='../../Scripts/app.js'></script>*@
<script src='../../Views/app/app.js'></script>
<script src="~/Views/Candidate/addEdit/candidateAddEditController.js"></script>
<script src="~/Views/services/candidate/candidatesHttpService.js"></script>
<script src="~/Views/services/candidate/addEdit/addEditService.js"></script>
<script src="~/Views/services/helper/httpHandler.js"></script>
<script src="~/Views/services/helper/authService.js"></script>
<script src="~/Views/services/pool/poolsHttpService.js"></script>

<h2>Index</h2>
<a href="#candidate/edit/1">Go to edit candidate page (id=1)</a>
<div ng-view></div>


<script>
    angular.bootstrap(document, ['hunter-app']);
</script>

