
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWithMainMenu.cshtml";
}

<script src='../../bower_components/angular/angular.js'></script>
<script src='../../bower_components/angular-route/angular-route.js'></script>
@*<script src='../../Scripts/app.js'></script>*@
<script src='../../Views/app/app.js'></script>

<script src="~/Views/services/helper/httpHandler.js"></script>
<script src="~/Views/services/vacancy/vacancyHttpService.js"></script>
<script src="~/Views/Vacancy/list/vacancyListController.js"></script>


<div ng-view></div>
<script>
    angular.bootstrap(document, ['hunter-app']);
</script>

