
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWithMainMenu.cshtml";
}

<link href="../../fonts/FontAwesome.otf" rel="stylesheet"/>
<link href="../../fonts/fontawesome-webfont.eot" rel="MIME"/>
<link href="../../fonts/fontawesome-webfont.svg" rel="MIME"/>
<link href="../../fonts/fontawesome-webfont.ttf" rel="MIME"/>
<link href="../../fonts/fontawesome-webfont.woff" rel="MIME"/>
<link href="../../fonts/fontawesome-webfont.woff2" rel="MIME"/>
<link href="../../Content/font-awesome.min.css" rel="stylesheet"/>
<link href="~/Content/pool.css" rel="stylesheet" />

<!-- Start bower components -->
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src='~/bower_components/angular/angular.js'></script>
<script src='~/bower_components/angular-route/angular-route.js'></script>
<script src="~/bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="~/bower_components/angular-utils-pagination/dirPagination.js"></script>
<script src="~/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>
<script src="~/bower_components/alertifyjs/dist/js/alertify.js"></script>
<!-- End bower components -->

<!-- Start app -->
<script src='~/Views/app/app.js'></script>
<!-- End app -->

<!-- Start helpers -->
<script src="~/Views/services/helper/authService.js"></script>
<script src="~/Views/services/helper/httpHandler.js"></script>
<script src="~/Views/services/helper/authInterceptorService.js"></script>
<!-- End helpers -->

<!-- Start Candidates -->
<script src="~/Views/services/candidate/candidatesHttpService.js"></script>
<script src="~/Views/candidate/addEdit/candidateAddEditController.js"></script>
<script src="~/Views/services/candidate/addEdit/candidateAddEditService.js"></script>
<script src="~/Views/candidate/profile/candidateController.js"></script>
<script src="~/Views/candidate/list/candidateListController.js"></script>
<script src="~/Views/filters/candidates/candidatesListFilter.js"></script>
<!-- End Candidates -->

<!-- Start Vacancies -->
<script src="~/Views/vacancy/addEdit/vacancyAddEditController.js"></script>
<script src="~/Views/vacancy/list/vacancyListController.js"></script>
<script src="~/Views/vacancy/profile/vacancyController.js"></script>
<script src="~/Views/services/vacancy/vacancyHttpService.js"></script>
<script src="~/Views/filters/vacancies/vacanciesListFilter.js"></script>
<!-- End Vacancies -->

<!-- Start Statistics -->
<script src="~/Views/Statistics/statisticsController.js"></script>

<!-- End Statistics -->

<!-- Start Login -->
<script src="~/Views/login/loginController.js"></script>
<script src="~/Views/register/registerController.js"></script>
<!-- End Login -->

<!-- Start Pools -->
<script src="~/Views/pool/list/poolListController.js"></script>
<script src="~/Views/pool/addEdit/poolAddEditController.js"></script>
<script src="~/Views/services/pool/poolsHttpService.js"></script>

<!-- End Pools -->
<!-- Start Activities -->
<script src="~/Views/services/activity/activitiesHttpService.js"></script>
<script src="~/Views/Activity/list/activityListController.js"></script>
<!-- End Activities -->

<!-- Start Files -->
<script src="~/Views/files/list/fileListController.js"></script>
<!-- End Files -->

<!-- Start Users -->
<script src="~/Views/user/userProfileService.js"></script>
<script src="~/Views/user/list/userListController.js"></script>
<script src="~/Views/user/addEdit/userAddEditController.js"></script>
<!-- End Users -->

<!-- Start Vacancy -->
<script src="~/Views/services/helper/httpHandler.js"></script>
<script src="~/Views/services/vacancy/vacancyHttpService.js"></script>
<script src="~/Views/Vacancy/list/vacancyListController.js"></script>
<!-- End Vacancy -->

<!-- Start Roles -->
<script src="~/Views/role/list/roleListController.js"></script>
<script src="~/Views/services/userRole/userRoleHttpService.js"></script>
<!-- End Roles -->

<div ng-view></div>

<script>
    angular.bootstrap(document, ['hunter-app']);
</script>

