{{statisticsCtrl.someVariable}}
<!--<div ng-submit="submitVacancy()" ng-controller="VacancyAddEditController as vacancyAddEditCtrl">
    <input hidden name="Id" />
    <div class="row">
        Name
        <div class="col-md-3">
            <input type="text" name="Name" size="50" maxlength="300" ng-required />
        </div>
    </div>
    <div class="row">
        Status
        <div class="col-md-3">
            <select name="Status">
                <option value="0">Open</option>
                <option value="1">In Archive</option>
            </select>
        </div>
    </div>
    <div class="row">
        Start Date
        <div class="col-md-3">
            <input type="date" name="StartDate" />
        </div>
    </div>
    <div class="row">
        End Date
        <div class="col-md-3">
            <input type="date" name="EndDate" value="{{vacancyAddEditCtrl.}}" />
        </div>
    </div>
    <div class="row">
        Description
        <div class="col-md-3">
            <textarea name="Description" maxlength="4000" cols="50" rows="10"></textarea>
        </div>
    </div>
    <div class="row">
        Pool
        <div class="col-md-3">
            <select name="PoolId">
                <option ng-repeat="pool in vacancyAddEditCtrl.pools" value="{{pool.Id}}">{{pool.Name}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <input type="submit" id="submit" value="Submit" />
        </div>
    </div>
</div>-->