<div class="container-partial" ng-controller='CandidatePartialController as candidatePartCtrl'>
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-default" type="button" ng-click="$root.candidateDetails.show = false">Exit</button>
        </div>
        <div class="col-md-10">
            <h4>Preview</h4>
        </div>
    </div>
    <div class="candidate-info">
        <div class="candidate-personal-info row">
            <div class="image col-md-5">
                <shor-list-star is-short="candidatePartCtrl.candidate.shortListed" candidate-id="candidatePartCtrl.candidate.id" size="'18px'"></shor-list-star>
                <img class="preview-profile-photo img-circle" ng-src="{{candidatePartCtrl.candidate.photoUrl}}"/>
            </div>
            <div class="col-md-7">

                <span class="candidate-name">{{candidatePartCtrl.candidate.firstName+" "+candidatePartCtrl.candidate.lastName}}</span>
                <div class="salary-wrapper">{{candidatePartCtrl.candidate.salary}}</div>
            </div>
        </div>
        <div class="candidate-personal-info row">
            <div class="personal-info-small">

                <div>current/past: {{candidatePartCtrl.candidate.currentPosition}}</div>
                <div>company/location: {{candidatePartCtrl.candidate.company+","+candidatePartCtrl.candidate.localion}}</div>
                <div>emaile: {{candidatePartCtrl.candidate.email}}</div>
                <div>skype: {{candidatePartCtrl.candidate.skype}}</div>
                <div>phone: {{candidatePartCtrl.candidate.phone}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <a class="btn btn-default btn-block" href="#/candidate/{{candidatePartCtrl.candidate.id}}">Profile</a>
            </div>
            <div class="form-inline col-md-7">
                <div class="candidate-resolution form-group">
                    <label>Resolution</label>
                    <select class="form-control" name="resolution">
                        <option selected="selected">None</option>
                        <option>Available</option>
                        <option>NotInterested</option>
                        <option>Hired</option>
                        <option>Unfit</option>
                        <option>NotNow</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="" data-toggle="tab">Aplications</a></li>
            <li role="presentation"><a href="" data-toggle="tab">Notes</a></li>
        </ul>
    </div>
    <div class="candidate-notes row">
        <div class="note-info-conteiner col-md-12">
            <div class="note-info-title"><h3>Aplication Results</h3></div>
            <div>
                <table class="notes-table">
                    <tr class="passed">
                        <td>PHP</td>
                        <td>15/04/2016</td>
                        <td>passed</td>
                    </tr>
                    <tr class="passed">
                        <td>PHP</td>
                        <td>21/09/2016</td>
                        <td>passed</td>
                    </tr>
                    <tr class="failed">
                        <td>JS</td>
                        <td>7/05/2016</td>
                        <td>failed(test)</td>
                    </tr>
                    <tr class="passed">
                        <td>PHP</td>
                        <td>12/03/2016</td>
                        <td>passed</td>
                    </tr>
                    <tr class="passed">
                        <td>PHP</td>
                        <td>20/07/2016</td>
                        <td>passed</td>
                    </tr>
                    <tr class="failed">
                        <td>JS</td>
                        <td>17/05/2016</td>
                        <td>failed(test)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>